@font-face {
    font-family: "Pix";
    src: url(../fonts/pix_antiqua.ttf) format("truetype");
}
@font-face {
    font-family: "Daydream";
    src: url(../fonts/daydream.ttf) format("truetype");
}
@font-face {
    font-family: "Bitcell";
    src: url(../fonts/bitcell.ttf) format("truetype");
}
#wm_off {
    background-image: url(../images/wm_off.png);
}
#wm_on {
    background-image: url(../images/wm_on.png);
}