body{
    background-color: #b8f7c0;
}
.container {
    height: 50%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flag{
    width: 150px;
    height: 150px;
    margin: 30px;
}
.text-col h2 {
    display: flex;
    height: 170px;
    align-items: center;
}